# generated app files
*.bin
*.coe
*.mem
*.mif
*.o
*.elf
*.asm
*.out
*.hex
*_image.vhd
build/

# keep default VHDL memory images
!rtl/core/*_image.vhd

# logs
*.gdb_history
*.log
*.jou

# host executables
sw/image_gen/image_gen
*.exe

# temporary files and folders
*.tmp
*.temp
~*

# generated documentation stuff
/docs/doxygen_build/
/docs/.asciidoctor/
/docs/public/
/docs/figures/diag-*.svg

# compiled ghdl stuff
*.cf
