Andreas Wenzel <Andreas.Wenzel@hs-wismar.de>
Lars Asplund <lars.anders.asplund@gmail.com>
Pascal Cotret <pascal.cotret@gmail.com>
Stephan Nolting <stnolting@gmail.com> <stnolting@gmail.com>
Torsten Meissner <programming@goodcleanfun.de>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <unai.martinezcorral@ehu.eus>
Unai Martinez-Corral <unai.martinezcorral@ehu.eus> <38422348+umarcor@users.noreply.github.com>
