#| OrangeCrab-r02-25F


LOCATE COMP "OrangeCrab_CLK" SITE "A9";
IOBUF  PORT "OrangeCrab_CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "OrangeCrab_CLK" 48.0 MHz;

LOCATE COMP "OrangeCrab_RST_N" SITE "V17";
IOBUF  PORT "OrangeCrab_RST_N" IO_TYPE=LVCMOS33;

LOCATE COMP "OrangeCrab_LED_RGB_R" SITE "K4";
IOBUF  PORT "OrangeCrab_LED_RGB_R" IO_TYPE=LVCMOS33;
LOCATE COMP "OrangeCrab_LED_RGB_G" SITE "M3";
IOBUF  PORT "OrangeCrab_LED_RGB_G" IO_TYPE=LVCMOS33;
LOCATE COMP "OrangeCrab_LED_RGB_B" SITE "J3";
IOBUF  PORT "OrangeCrab_LED_RGB_B" IO_TYPE=LVCMOS33;

LOCATE COMP "OrangeCrab_USR_BTN" SITE "J17";
IOBUF  PORT "OrangeCrab_USR_BTN" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_USB_D_P" SITE "N1";
IOBUF  PORT "OrangeCrab_USB_D_P" IO_TYPE=LVCMOS33;
LOCATE COMP "OrangeCrab_USB_D_N" SITE "M2";
IOBUF  PORT "OrangeCrab_USB_D_N" IO_TYPE=LVCMOS33;
LOCATE COMP "OrangeCrab_USB_DP_PU" SITE "N2";
IOBUF  PORT "OrangeCrab_USB_DP_PU" IO_TYPE=LVCMOS33;

LOCATE COMP "OrangeCrab_GPIO_0" SITE "N17";
IOBUF  PORT "OrangeCrab_GPIO_0" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_0" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_1" SITE "M18";
IOBUF  PORT "OrangeCrab_GPIO_1" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_1" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_5" SITE "B10";
IOBUF  PORT "OrangeCrab_GPIO_5" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_5" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_6" SITE "B9";
IOBUF  PORT "OrangeCrab_GPIO_6" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_6" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_9" SITE "C8";
IOBUF  PORT "OrangeCrab_GPIO_9" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_9" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_10" SITE "B8";
IOBUF  PORT "OrangeCrab_GPIO_10" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_10" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_11" SITE "A8";
IOBUF  PORT "OrangeCrab_GPIO_11" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_11" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_12" SITE "H2";
IOBUF  PORT "OrangeCrab_GPIO_12" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_12" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_13" SITE "J2";
IOBUF  PORT "OrangeCrab_GPIO_13" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_13" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_A0" SITE "L4";
IOBUF  PORT "OrangeCrab_GPIO_A0" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_A0" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_A1" SITE "N3";
IOBUF  PORT "OrangeCrab_GPIO_A1" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_A1" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_A2" SITE "N4";
IOBUF  PORT "OrangeCrab_GPIO_A2" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_A2" PULLMODE=DOWN;
LOCATE COMP "OrangeCrab_GPIO_A3" SITE "H4";
IOBUF  PORT "OrangeCrab_GPIO_A3" IO_TYPE=LVCMOS33;
IOBUF  PORT "OrangeCrab_GPIO_A3" PULLMODE=DOWN;

LOCATE COMP "OrangeCrab_DDRAM_A[0]"  SITE "C4";
IOBUF  PORT "OrangeCrab_DDRAM_A[0]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[0]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[1]"  SITE "D2";
IOBUF  PORT "OrangeCrab_DDRAM_A[1]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[1]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[2]"  SITE "D3";
IOBUF  PORT "OrangeCrab_DDRAM_A[2]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[2]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[3]"  SITE "A3";
IOBUF  PORT "OrangeCrab_DDRAM_A[3]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[3]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[4]"  SITE "A4";
IOBUF  PORT "OrangeCrab_DDRAM_A[4]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[4]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[5]"  SITE "D4";
IOBUF  PORT "OrangeCrab_DDRAM_A[5]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[5]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[6]"  SITE "C3";
IOBUF  PORT "OrangeCrab_DDRAM_A[6]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[6]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[7]"  SITE "B2";
IOBUF  PORT "OrangeCrab_DDRAM_A[7]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[7]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[8]"  SITE "B1";
IOBUF  PORT "OrangeCrab_DDRAM_A[8]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[8]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[9]"  SITE "D1";
IOBUF  PORT "OrangeCrab_DDRAM_A[9]"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[9]"  IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[10]" SITE "A7";
IOBUF  PORT "OrangeCrab_DDRAM_A[10]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[10]" IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[11]" SITE "C2";
IOBUF  PORT "OrangeCrab_DDRAM_A[11]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[11]" IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[12]" SITE "B6";
IOBUF  PORT "OrangeCrab_DDRAM_A[12]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[12]" IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[13]" SITE "C1";
IOBUF  PORT "OrangeCrab_DDRAM_A[13]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[13]" IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[14]" SITE "A2";
IOBUF  PORT "OrangeCrab_DDRAM_A[14]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[14]" IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_A[15]" SITE "C7";
IOBUF  PORT "OrangeCrab_DDRAM_A[15]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_A[15]" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_BA[0]" SITE "D6";
IOBUF  PORT "OrangeCrab_DDRAM_BA[0]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_BA[0]" IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_BA[1]" SITE "B7";
IOBUF  PORT "OrangeCrab_DDRAM_BA[1]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_BA[1]" IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_BA[2]" SITE "A6";
IOBUF  PORT "OrangeCrab_DDRAM_BA[2]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_BA[2]" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_RAS_N" SITE "C12";
IOBUF  PORT "OrangeCrab_DDRAM_RAS_N" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_RAS_N" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_CAS_N" SITE "D13";
IOBUF  PORT "OrangeCrab_DDRAM_CAS_N" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_CAS_N" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_WE_N"  SITE "B12";
IOBUF  PORT "OrangeCrab_DDRAM_WE_N"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_WE_N"  IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_CS_N"  SITE "A12";
IOBUF  PORT "OrangeCrab_DDRAM_CS_N"  SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_CS_N"  IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_DM[0]" SITE "D16";
IOBUF  PORT "OrangeCrab_DDRAM_DM[0]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DM[0]" IO_TYPE=SSTL135_I;
LOCATE COMP "OrangeCrab_DDRAM_DM[1]" SITE "G16";
IOBUF  PORT "OrangeCrab_DDRAM_DM[1]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DM[1]" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_DQ[0]" SITE "C17";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[0]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[0]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[0]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[1]" SITE "D15";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[1]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[1]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[1]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[2]" SITE "B17";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[2]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[2]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[2]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[3]" SITE "C16";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[3]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[3]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[3]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[4]" SITE "A15";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[4]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[4]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[4]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[5]" SITE "B13";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[5]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[5]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[5]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[6]" SITE "A17";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[6]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[6]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[6]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[7]" SITE "A13";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[7]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[7]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[7]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[8]" SITE "F17";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[8]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[8]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[8]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[9]" SITE "F16";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[9]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[9]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[9]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[10]" SITE "G15";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[10]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[10]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[10]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[11]" SITE "F15";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[11]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[11]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[11]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[12]" SITE "J16";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[12]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[12]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[12]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[13]" SITE "C18";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[13]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[13]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[13]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[14]" SITE "H16";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[14]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[14]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[14]" TERMINATION=OFF;
LOCATE COMP "OrangeCrab_DDRAM_DQ[15]" SITE "F18";
IOBUF  PORT "OrangeCrab_DDRAM_DQ[15]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[15]" IO_TYPE=SSTL135_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQ[15]" TERMINATION=OFF;

LOCATE COMP "OrangeCrab_DDRAM_DQS_P[0]" SITE "B15";
IOBUF  PORT "OrangeCrab_DDRAM_DQS_P[0]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQS_P[0]" IO_TYPE=SSTL135D_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQS_P[0]" TERMINATION=OFF;
IOBUF  PORT "OrangeCrab_DDRAM_DQS_P[0]" DIFFRESISTOR=100;
LOCATE COMP "OrangeCrab_DDRAM_DQS_P[1]" SITE "G18";
IOBUF  PORT "OrangeCrab_DDRAM_DQS_P[1]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_DQS_P[1]" IO_TYPE=SSTL135D_I;
IOBUF  PORT "OrangeCrab_DDRAM_DQS_P[1]" TERMINATION=OFF;
IOBUF  PORT "OrangeCrab_DDRAM_DQS_P[1]" DIFFRESISTOR=100;

LOCATE COMP "OrangeCrab_DDRAM_CLK_P" SITE "J18";
IOBUF  PORT "OrangeCrab_DDRAM_CLK_P" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_CLK_P" IO_TYPE=SSTL135D_I;

LOCATE COMP "OrangeCrab_DDRAM_CKE" SITE "D18";
IOBUF  PORT "OrangeCrab_DDRAM_CKE" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_CKE" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_ODT" SITE "C13";
IOBUF  PORT "OrangeCrab_DDRAM_ODT" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_ODT" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_RESET_N" SITE "L18";
IOBUF  PORT "OrangeCrab_DDRAM_RESET_N" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_RESET_N" IO_TYPE=SSTL135_I;

LOCATE COMP "OrangeCrab_DDRAM_VCCIO[0]" SITE "K16";
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[0]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[0]" IO_TYPE=SSTL135_II;
LOCATE COMP "OrangeCrab_DDRAM_VCCIO[1]" SITE "D17";
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[1]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[1]" IO_TYPE=SSTL135_II;
LOCATE COMP "OrangeCrab_DDRAM_VCCIO[2]" SITE "K15";
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[2]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[2]" IO_TYPE=SSTL135_II;
LOCATE COMP "OrangeCrab_DDRAM_VCCIO[3]" SITE "K17";
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[3]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[3]" IO_TYPE=SSTL135_II;
LOCATE COMP "OrangeCrab_DDRAM_VCCIO[4]" SITE "B18";
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[4]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[4]" IO_TYPE=SSTL135_II;
LOCATE COMP "OrangeCrab_DDRAM_VCCIO[5]" SITE "C6";
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[5]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_VCCIO[5]" IO_TYPE=SSTL135_II;

LOCATE COMP "OrangeCrab_DDRAM_GND[0]" SITE "L15";
IOBUF  PORT "OrangeCrab_DDRAM_GND[0]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_GND[0]" IO_TYPE=SSTL135_II;
LOCATE COMP "OrangeCrab_DDRAM_GND[1]" SITE "L16";
IOBUF  PORT "OrangeCrab_DDRAM_GND[1]" SLEWRATE=FAST;
IOBUF  PORT "OrangeCrab_DDRAM_GND[1]" IO_TYPE=SSTL135_II;

LOCATE COMP "OrangeCrab_SPIFLASH_CS_N" SITE "U17";
IOBUF  PORT "OrangeCrab_SPIFLASH_CS_N" IO_TYPE=LVCMOS33;

LOCATE COMP "OrangeCrab_SPIFLASH_DQ[0]" SITE "U18";
IOBUF  PORT "OrangeCrab_SPIFLASH_DQ[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "OrangeCrab_SPIFLASH_DQ[1]" SITE "T18";
IOBUF  PORT "OrangeCrab_SPIFLASH_DQ[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "OrangeCrab_SPIFLASH_DQ[2]" SITE "R18";
IOBUF  PORT "OrangeCrab_SPIFLASH_DQ[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "OrangeCrab_SPIFLASH_DQ[3]" SITE "N18";
IOBUF  PORT "OrangeCrab_SPIFLASH_DQ[3]" IO_TYPE=LVCMOS33;
